#text-input {
  margin: 10px;
}

#meme-text {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  left: 0px;
  margin: 100px;
  top: 20px;

}

#meme-insert {
  margin: 10px;
}

#meme-image-container {
  position: absolute;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  top: 180px;
  left: 30px;
  width: 350px;
  height: 350px;
}

#meme-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
}

/* #input-fire {
  position: absolute;
  display: inline-block;
  border: 5px solid red;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
}

#input-water {
  position: absolute;
  display: inline-block;
  border: 1px double blue;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
}

#input-earth {
  position: absolute;
  display: inline-block;
  border: 6px groove green;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
} */

#fire {
  position: absolute;
  background-color: red;
  z-index: 2;
  top: 600px;
  left: 50px;
}

#water {
  position: absolute;
  background-color: blue;
  z-index: 2;
  top: 600px;
  left: 130px;
}

#earth {
  position: absolute;
  background-color: green;
  z-index: 2;
  top: 600px;
  left: 215px;
}