#text-input {
  margin: 10px;
}

#meme-text {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  left: 0px;
  margin: 100px;
  top: 20px;

}

#meme-insert {
  margin: 10px;
}

#meme-image-container {
  position: absolute;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  top: 180px;
  left: 30px;
  width: 350px;
  height: 350px;
}

#meme-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
}

#fire {
  position: absolute;
  background-color: red;
  z-index: 2;
  top: 600px;
  left: 50px;
}

#water {
  position: absolute;
  background-color: blue;
  z-index: 2;
  top: 600px;
  left: 130px;
}

#earth {
  position: absolute;
  background-color: green;
  z-index: 2;
  top: 600px;
  left: 215px;
}

#memes-fames {
  position: absolute;
  display: inline-block;
  padding: 2px;
  top: 700px;
}

#meme-1 {
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}

#meme-2 {
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}

#meme-3 {
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}

#meme-4 {
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}